@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  24% {
    opacity: 1;
  }

  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 10px;
  background-color: #ec5242;
}

::-webkit-scrollbar:hover {
  background: #e5e5e5;
}

html {
  height: 100%;
}

body {
  height: 100%;
  overflow: scroll;
  font-family: 'Lato', sans-serif;
}

header {
  background: url('../img/background.jpg') no-repeat;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

.bg-dark-texture {
  background: url('../img/main-bg.png') repeat center;
}

footer {
  flex: 0 0 auto;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select option {
  background-color: #ec5242;
  color: #fff;
}

.bar {
  font-size: 0.7rem;
}

.bar-item img {
  width: 30px;
  height: 30px;
}

.nav-link:hover {
  transition: all 300ms ease-in;
  border: 1px solid transparent;
  box-shadow: 0.1em 0 0.3em #944037;
  background-color: #ec5242;
  color: #fff;
  font-weight: 600;
}

.league-pass {
  border: 4px solid #ec5242;
  transition: all 300ms ease-in;
}

.burger {
  fill: #333;
}

.burger-line {
  transition: y 100ms ease-in 300ms, rotate 100ms ease-in 300ms, fill 100ms ease-in-out 300ms, opacity 0ms 300ms;
  transform-origin: center;
}

.nav-toggle[aria-expanded=true] .burger {
  fill: #ec5242;
}

.nav-toggle[aria-expanded=true] .burger .burger-line-top {
  rotate: 45deg;
}

.nav-toggle[aria-expanded=true] .burger .burger-line-middle {
  opacity: 0;
}

.nav-toggle[aria-expanded=true] .burger .burger-line-bottom {
  rotate: -45deg;
}

.supporting-text {
  font-size: 1.2rem;
}

.header-heading {
  font-size: 2.2rem;
  font-family: 'COCOGOOSE', sans-serif;
}

.header-heading-group {
  -webkit-animation: bounce-top 4s both;
  animation: bounce-top 4s both;
}

.header-heading.main {
  background: url('../img/text-bg.jpg') no-repeat left;
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.info {
  font-size: 1.1rem;
}

.date-time {
  font-family: 'COCOGOOSE', sans-serif;
}

.schedule-item {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}

.schedule-heading::after,
.partners-heading::after,
.hall-heading::after,
.hall-of-fame-heading::after,
.hall-img-content-text::after,
.prospects-heading::after {
  content: "";
  display: block;
  width: 3rem;
  max-width: 70%;
  border-top: 0.1rem solid #ec5242;
  border-radius: 1.5rem;
  margin: 0.5rem auto 3rem;
}

.partners-heading::after,
.hall-heading::after,
.hall-of-fame-heading::after,
.hall-img-content-text::after {
  max-width: 40%;
  margin: 0.5rem auto 1.3rem;
}

.prospect-card {
  font-size: 14px;
}

.prospect-card-content::after {
  content: "";
  display: block;
  width: 80px;
  height: 80px;
  background: url("../img/prospects/prospects-bg.png") no-repeat top left;
  background-size: cover;
  position: absolute;
  left: -150px;
  z-index: 0;
  transform: translateY(-20px);
}

.prospect-photo {
  max-width: 100px;
  z-index: 2;
}

.prospect-info::after {
  content: "";
  display: block;
  width: 15px;
  border-top: 0.165rem solid rgb(194, 194, 194);
  border-radius: 1.5rem;
  margin: 1rem 0;
}

.hall-heading::after,
.hall-of-fame-heading::after,
.prospects-heading::after {
  margin: 1rem auto;
}

.schedule-item:hover {
  border: 2px solid #fff;
  cursor: pointer;
}

.goose {
  font-family: 'COCOGOOSE', sans-serif;
  font-size: 16px;
}

.regulations-moto {
  word-spacing: 1.4rem;
}

.location img {
  width: 100%;
  max-width: 500px;
}

.hall {
  position: relative;
  max-width: 500px;
}

.hall::after {
  content: '';
  background: rgba(207, 58, 32, 0.527);
  width: 100%;
  height: 100%;
  position: absolute;
  border: 1px transparent solid;
  border-radius: 8%;
}

.hall-of-famer img,
.hall img {
  width: 100%;
  border: 1px transparent solid;
  border-radius: 8%;
}

.partners-list li img {
  width: 100%;
}

.hall img:active {
  z-index: 44;
}

.hall:hover::after {
  display: none;
}

.hall-img-content-text {
  transition: all 1s ease-in-out;
}

.partners-list li {
  width: 20%;
  min-width: 100px;
}

.hall-of-famer {
  width: 300px;
}

.copyright {
  font-size: 1rem;
}

@media screen and (max-width: 767px) {
  .nav-menu {
    background: hsla(228, 7.5%, 13.1%, 0.4);
    backdrop-filter: blur(0.4rem);
    transition: transform 800ms ease-in-out;
  }

  .nav-menu::shadow {
    background-color: rgba(37, 47, 137, 0.08);
  }

  .nav-menu[data-visible=false] {
    transform: translateX(-200%);
  }

  .nav-menu [data-visible=true] {
    transform: translateX(0%);
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 5.75rem;
    padding: 3em 0;
    position: fixed;
    z-index: 70;
    margin: 1rem 1rem 0 0;
    transition: transform 800ms ease-in-out;
    font-size: 20px;
    border-radius: 8%;
  }

  #nav-menu ul li a {
    transition: all 500ms ease-out;
    letter-spacing: 0.166rem;
    margin: 0.4rem 0;
  }

  #nav-menu ul li a::after {
    content: "";
    display: block;
    width: 3rem;
    border-top: 1px solid #ec5242;
    border-radius: 1.5rem;
    margin: 0.2rem auto;
  }

  #nav-menu li a:active {
    background-color: #ec5242;
  }

  .prospect-card-heading::after {
    transform: translateY(-40px);
  }
}

@media screen and (min-width: 768px) {
  .partners-heading::after {
    max-width: 40%;
    margin: 1rem auto 3rem;
  }

  .hall-of-famer {
    max-width: 200px;
  }

  .prospect-card-content::after {
    filter: opacity(0.5);
  }
}
